.toplogo > img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

body {

}
.toplogo > img{
    height: 91px;
    width: 1000px;
}

* {
    margin: 0;
    padding: 0;
}
.items > ul > li > a {
    text-decoration-line: none;
    color: white;
}
li {
    list-style: none;
}
.items {
    background: darkorange;
}
.items ul {
    width: 500px;
    margin: 0 auto;
}
.items ul li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: darkorange;
}
.items ul li > a {
    display: block;
}
.items ul li > a:hover {
    background: black;
    color: orange;
}
.redirectbuttns ul {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.redirectbuttns > ul > li > a {
    text-decoration-line: none;
    color: white;
}
.redirectbuttns{
    background: darkorange;
}
.redirectbuttns ul li {
    float:left;
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: darkorange;
}
.redirectbuttns ul li > a {
    display: block;
}
.redirectbuttns ul li > a:hover {
    background: black;
    color: orange;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid gray;
    height: 100px;
}
.footeritem > a {
    text-decoration-line: none;
    color: gray;
}
.footeritems > span {
    color: gray;
}
.footeritem {
    margin: 10px 10px 0 10px;
}
.footeritems {
    margin: 10px 0 0 0;
}
.form1 {
    margin: 20px auto;
    text-align: center;

}
ul li {
    list-style: none;
}
.textarea1-contents {
    width: 800px;
    height: 400px;
    text-align: left;
}
.form2{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.form3 {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
}